.title {
	display: flex;
	background-color: #e63946;
	justify-content: space-evenly;
	color: white;
	min-width: 60%;
	max-width: 80%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-width: 5px;
	border-color: #14213d;
	border-style: solid;
	font-size: 22px;
	font-weight: 700;
	cursor: default;
	padding-left: 20px;
	padding-right: 20px;
}

.subtitle {
	cursor: default;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 35%;
	min-width: 300px;
	margin-top: 30px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.subtitle a {
	text-decoration-line: none;
	color: #14213d;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}

.link {
	text-decoration-line: none;
	color: #14213d;
	flex: 1;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	justify-content: space-evenly;
}
