.title {
	display: flex;
	background-color: #e63946;
	justify-content: space-evenly;
	color: white;
	min-width: 60%;
	max-width: 80%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-width: 5px;
	border-color: #14213d;
	border-style: solid;
	font-size: 22px;
	font-weight: 700;
	cursor: default;
	padding-left: 20px;
	padding-right: 20px;
}

.subtitle {
	cursor: default;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 40%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
