.container {
  margin-top: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  color: #1d3557;
}

.homeTitle {
  display: flex;
  background-color: #e63946;
  justify-content: space-evenly;
  color: white;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-color: #14213d;
  border-style: solid;
  font-size: 22px;
  font-weight: 700;
  cursor: default;
}

.homeSubtitle {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 80%;
  min-height: 12rem;
}

.projectItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex: 1;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
  max-width: 28%;
  min-height: inherit;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  background-color: #14213d;
  box-shadow: 7px 7px 7px #457b9d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.projectTitle {
  font-size: 28px;
}

.projectText {
  font-size: 17px;
  max-width: 75%;
}

.techContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background-color: #293241;
  min-width: 50rem;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: default;
}

.techList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  min-width: 100%;
  flex-wrap: wrap;
  list-style-type: square;
  cursor: default;
}

.techTitle {
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 600;
  cursor: default;
}
